@model Faculty_Information_System_MVC_Layer.Models.DegreeVM


@{
    ViewData["Title"] = "DegreeEdit";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />

<h4>Update Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DegreeEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DegreeId" class="control-label"></label>
                <input asp-for="DegreeId" class="form-control" />
                <span asp-validation-for="DegreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <input asp-for="FacultyId" class="form-control" />
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeName" class="control-label"></label>
                <input asp-for="DegreeName" class="form-control" />
                <span asp-validation-for="DegreeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeYear" class="control-label"></label>
                <input asp-for="DegreeYear" class="form-control" />
                <span asp-validation-for="DegreeYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowDegree">Back to Degrees</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
