@model Faculty_Information_System_MVC_Layer.Models.PublicationVM

@{
    ViewData["Title"] = "PublishCreate";
}
<h1>Add New Publication</h1>  

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PublishCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <input asp-for="FacultyId" class="form-control" />
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationTitle" class="control-label"></label>
                <input asp-for="PublicationTitle" class="form-control" />
                <span asp-validation-for="PublicationTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleName" class="control-label"></label>
                <input asp-for="ArticleName" class="form-control" />
                <span asp-validation-for="ArticleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label"></label>
                <input asp-for="PublisherName" class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherLocation" class="control-label"></label>
                <input asp-for="PublisherLocation" class="form-control" />
                <span asp-validation-for="PublisherLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitationDate" class="control-label"></label>
                <input asp-for="CitationDate" class="form-control" />
                <span asp-validation-for="CitationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowPublish">Back to Publications</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
