@model Faculty_Information_System_MVC_Layer.Models.WorkHistoryVM

@{
    ViewData["Title"] = "WorkEdit";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />


<h1>Update Work History</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="WorkEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkHistoryId" class="control-label"></label>
                <input asp-for="WorkHistoryId" class="form-control" />
                <span asp-validation-for="WorkHistoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <input asp-for="FacultyId" class="form-control" />
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organisation" class="control-label"></label>
                <input asp-for="Organisation" class="form-control" />
                <span asp-validation-for="Organisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobBeginDate" class="control-label"></label>
                <input asp-for="JobBeginDate" class="form-control" />
                <span asp-validation-for="JobBeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobEndDate" class="control-label"></label>
                <input asp-for="JobEndDate" class="form-control" />
                <span asp-validation-for="JobEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobResponsibilities" class="control-label"></label>
                <input asp-for="JobResponsibilities" class="form-control" />
                <span asp-validation-for="JobResponsibilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType" class="control-label"></label>
                <input asp-for="JobType" class="form-control" />
                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowWork">Back to Work Histories</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
