body {
    background-color: #f1f1f1;
    background-image: url('../image/doc1.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
